<!DOCTYPE html>
<html>
<head>
  <title><%= @email.subject%></title>
  <style>
    /* Header */
    body {
      max-width: 750px;
      display: block;
      margin: auto;
    }
    header {
      background-color: #fff;
      padding: 5px;
      color: #ffffff;
      text-align: center;
      margin-top: 0;
    }
    h1 {
      font-size: 24px;
      margin-bottom: 0;
      color: #000;
    }
    /* Footer */
    footer {
      background-color: #cbd5e1;
      padding: 20px;
      text-align: center;
    }
    .social-icons {
      margin-top: 10px;
    }
    .social-icon {
      display: inline-block;
      margin-right: 10px;
      width: 30px;
      height: 30px;
      background-color: #ffffff;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      color: #000000;
    }
    code {
      max-width: 500px;
    }
    svg {
      display: block;
      margin: auto;
      margin-top: 5px;
    }
  </style>
</head>
<body>
  <header>
    <div class="product">
      <h2>Newsletter</h2>  
    </div>
    

    <h1><%= @email.template.header %></h1>

  </header>

  <main>
    <!-- Email content goes here -->
  <p><%= @email.body %></p>
  
  </main>

  <footer>
    <p><%= @email.template.footer%></p>
  </footer>
</body>
</html>
