<table>
    <tr>
      <td colspan="2" class="header">
        <h1>Product email </h1>
        <img src="https://via.placeholder.com/100x100" class="placeholder" alt="Placeholder Image">
        <style>
          .header {
            background-color: #f0f0f0;
            padding: 20px;
            text-align: center;
          }

          body {
            width: 750px;
          }
        </style>
      </td>
    </tr>
    <tr>
      <%# <td class="body"><%= @email.body %></td> %>
    </tr>
    <tr>
      <td colspan="2" class="footer">
        <p>Thanks,</p>
        <p>Your Name</p>
        <style>
          .footer {
            background-color: #f0f0f0;
            padding: 20px;
          }
        </style>
      </td>
    </tr>
  </table>
